In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


music_data= pd.read_csv('music.csv')
music_data.describe()
model = DecisionTreeClassifier()

In [5]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [6]:
X=music_data.drop(columns=['genre'])
Y=music_data['genre']

In [7]:
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [8]:
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
model.fit(X,Y)
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [10]:
model = DecisionTreeClassifier()
model.fit(X,Y)
pred = model.predict([[21,1],[22,0]])
pred

C:\Users\Satya yadav\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [45]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train,Y_train)
pred =model.predict(X_test)
score = accuracy_score(Y_test,pred)
score

0.75

In [13]:
from sklearn.externals import joblib

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Users\Satya yadav\anaconda3\Lib\site-packages\sklearn\externals\__init__.py)

In [14]:
import joblib

In [15]:
pred= model.predict([[21,1],[45,0]])
pred

C:\Users\Satya yadav\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Classical'], dtype=object)

In [16]:
from sklearn import tree

In [17]:
tree.export_graphviz(model, out_file='music-recommender.dot',
                     feature_names=['age', 'gender'],
                     class_names=sorted(Y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)

In [18]:
score

0.5

In [21]:
pred= model.predict([[45,1],[21,0]])
pred

C:\Users\Satya yadav\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Classical', 'Dance'], dtype=object)

In [64]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [96]:
score

0.5

In [105]:
score = accuracy_score(Y_test,pred)
score

0.5